<div class="credits_wrapper">

  <span class="imagen_credito"><img src="/images/oscar.jpg" ></img></span>
  <span class="author_credits">
    <p>¡Hola!</p>
    <p>Muchas gracias por visitar mi primera página creada con express-generator. Me llamo Óscar Orihuela, soy analista-programador y vivo en Barcelona.</p>
    <p>Nos vemos por los foros!</p>
  </span>
  
</div>

