body {
  background:#333;
}

#page_wrap:after
{
    content:"Smartphone Layout";
}

h2 span, section h3
{
    display:none;    
}

body
{
    font-size:xx-large;
}

footer, input
{
    font-size:large;
}

.credits_wrapper
{
    min-height:275px;
    margin:auto 1% auto 10%;
    display:block; 
}

.imagen_credito
{
    float:left;
    margin-right:15px;    
    display:inline-block;
    text-align:center;
    width:215px;
}

.imagen_credito img
{
    border:1px solid #000000;
}

.author_credits
{
    float:left;
    display:inline-block;
    width:215px;
    font-size:12px;
}
