* {
    margin:0;
    padding:0;    
}

body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#page_wrap
{
    margin:2% auto;
    color:white;
}

#page_wrap > .main
{
    border:1px solid #999;
    padding:1%;
    margin-bottom:1px;
    color:black;
}

section > div
{
    padding:20px;
}

header, nav, section, footer
{
    background-color:#eee;
    text-align:center;
}

.main input
{
    margin:5px 0px;    
}

footer p, div
{
    margin-bottom:10px;
}

nav span
{
    margin:0px 10px 0px 0px;
}

#ErrorMsgs
{
    color:#f61;
    font-size:smaller;
}

.credits_wrapper
{
    min-height:150px;
    margin:auto 1% auto 32%;
    display:block; 
    /*width:100%;*/
    text-align:center;
}

.imagen_credito
{
    float:left;
    margin-right:15px;    
    display:inline-block;
    text-align:center;
    width:215px;
}

.imagen_credito img
{
    border:1px solid #000000;
}

.author_credits
{
    float:left;
    display:inline-block;
    width:215px;
}

.author_credits p
{
    margin-bottom:10px;    
}

.contentcentered
{
    text-align:center;    
}

.tablecentered
{
    margin:0px auto;    
}